@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Eric Meyer CSS reset begins */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Eric Meyer CSS reset ends */

body, input{
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}

h1{
    text-align: center;
    font-weight: 600;
    font-size: 150%;
    margin-top: 60px;
}

form, #response{
    max-width: 800px;
    margin: 0 auto;
}

#response{
    min-height: 60px;
    border: solid 3px #ccc;
    margin: 20px auto;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;
    
    -webkit-transition:all 0.333s ease;
    transition: all 0.333s ease;
    
    position: relative;
}

#response.success{
    background: #c7e2bf;
    border-color: #6bc450;
	color: #6bc450;
}

#response.error{
    background: #e2bfbf;
    border-color: #c45050;
	color: #c45050;
}

#spinner {
	display: none;
	background-image: url(../images/spinner.png);
	background-size: 100% auto;
	width: 32px;
	height: 32px;
	margin: 10px auto;
	
	animation: spin 0.25s infinite linear;
	
}

@keyframes spin {
	0%{
		
		transform: rotate(0deg);
	}
	100%{
		
		transform: rotate(360deg);
	}
}


form{
    word-spacing: 5px;
}

input[type="email"],
input[type="text"]{
    padding: 10px 20px;
    line-height: 30px;
    border: none;
    background: #efefef;
    word-spacing: normal;
}

input[type="submit"]{
    line-height: 30px;
    border: none;
    background: #6bc450;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    word-spacing: normal;
}

:focus{
	outline: none;
}

input[disabled]{
	background-color:  #ddd;
	color: #888;
}

